<ion-view view-title="Beskeder">
    <ion-nav-buttons side="secondary">
      <button class="button button-icon icon ion-log-out" ng-click="Auth.$unauth()">
      </button>
    </ion-nav-buttons>
    <ion-content>
        <ion-list>
            <ion-item class="item-thumbnail-left item-icon-right" ng-repeat="item in items" ng-href="#/chatroom/{{item.uid}}">
                <img ng-src="{{item.thumbnail}}">
                <h2 am-time-ago="item.timestamp"></h2>
                <p>{{item.msg}}</p>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
        </ion-list>
        <ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="loadMore()" distance="10%"></ion-infinite-scroll>
    </ion-content>
</ion-view>